body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

/* Estilos para ocultar el formulario por defecto */
#userFormContainer {
    display: none;
}

/* Estilos para botones como enlaces */
.link-button {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

/* Estilos para el formulario de inicio de sesión */
body {
    background-color: #f8f9fa;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form label {
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}

